@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply after:absolute   after:top-0 after:left-0 after:w-full after:h-full after:bg-black/20
  }
  .checkbox-styles  {
    @apply  cursor-pointer   shadow-none focus:ring-0 focus:outline-none  text-white focus:text-white focus:outline  checked:border-[1px] checked:animate-opacity checked:border-[#00A3F5]  border-[#E5E5E5]  focus:ring-offset-0 rounded-[3px] transition-colors ease-in-out
  }
}
body {

  font-family: 'Roboto', sans-serif;


}
.popins {
font-family: 'Poppins', sans-serif;

}
::placeholder {
  font-weight: 500;
}
textarea{
  resize: none;
  overflow:hidden
}

/* fonts  */
/*font-family: 'Anton', sans-serif;
font-family: 'Anybody', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Domine', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Grape Nuts', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Ranga', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Send Flowers', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Vazirmatn', sans-serif;*/

